/* You can add global styles to this file, and also import other style files */

body {
  background-color: #ddd;

  .ngdash {
    .ngdash-widget-container {
	  border: 2px dashed #000;
	  min-height: 100px;
      background-color: #eee;
      padding: 5px;

      .ngdash-widget-wrapper {
        border: 1px dotted #333;
        background-color: #fff;
        padding: 5px;
        margin: 2px;
      }
    }

    &.dragdrop-enabled {
      .ngdash-widget-wrapper {
        cursor: move;
      }
    }
  }
}
