<div class="row">
	<div class="col-md-3">
		<div class="alert alert-info mt-3 interactions">
			<h5>Interactions</h5>
			<div><b>Play around with the widgets to see the log here.</b></div>
			<div *ngFor="let message of messages">{{message}}</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="alert alert-info">
			The state of the dashbaoard are stored in local storage.
			You will see the latest state when you visit the site again.
			<button type="button"
					class="btn btn-secondary btn-sm"
					(click)="resetData()">Reset State</button>
		</div>
		<div>
			<label>
				<input type="checkbox"
					   [(ngModel)]="enableDragDrop" /> Enable Drag Drop
			</label>
		</div>
		<ngdash [dashboard]="dashboard"
				[enableDragDrop]="enableDragDrop"></ngdash>
	</div>
</div>
